<div class="tab-content" id="recent">
  <% @questions.each do |question|  %>
    <div class="post">
      <h3><a href="/questions/<%= question.id %>"><%= question.title %></a></h3>

      <div class='metric_container'>
        <div class='scorebox'>
          <div class="metric_counter">
            <%= question.votes.count %>
          </div>
          <span>votes</span>
        </div>
        <div class='scorebox'>
          <div class="metric_counter">
            <%= question.answers.count %>
          </div>
          <span>answers</span>
        </div>
        <div class='scorebox'>
          <div class="metric_counter">
            <%= question.view_count %>
          </div>
          <span>views</span>
        </div>
      </div>

      <div class="tag_meta">
        <% if question.tags.empty? %>
          <br>
        <% end %>
        <% question.tags.each do |tag| %>
        <span class="tag_box">
          <a href = "/tags/<%= tag.id %>"><%= tag.name %></a>
        </span>
        <% end %>
      </div>

      <div class="post_meta">
        <span>posted by: <a href = "/users/<%= question.author.id %>"><%= question.author.username %></a></span>
        <span id='time_asked'><%= last_asked(question.created_at) %></span>
      </div>
    </div>
  <% end %>
</div>

