<div class="container">

    <ul class="tabs">
        <li class="active"><a href="#recent">Recent</a></li>
        <li><a href="#">Highest Votes</a></li>
        <li><a href="#">Trending</a></li>
    </ul>
</div>

<div class="container">
    <div class="tab-content" id="recent">
        <% @questions.each do |question|  %>
            <div class="post">
                <h3><%= question.title %></h3>

                    <div class='metric_container'>
                        <div class='scorebox'>
                            <div class="metric_counter">
                                <%= question.votes.count %>
                            </div>
                            <span>votes</span>
                        </div>
                        <div class='scorebox'>
                            <div class="metric_counter">
                                <%= question.answers.count %>
                            </div>
                            <span>answers</span>
                        </div>
                        <div class='scorebox'>
                            <div class="metric_counter">
                                <%= question.view_count %>
                            </div>
                            <span>views</span>
                        </div>
                    </div>

                    <div class="tag_meta">
                        <% question.tags.each do |tag| %>
                        <span class="tag_box">
                            <a href = "#"><%= tag.name %></a>
                        </span>
                        <% end %>
                    </div>

                    <div class="post_meta">
                        <%= question.author.username %>
                        <%= question.created_at.strftime("%m/%d/%Y") %>
                    </div>
            </div>
        <% end %>
    </div>
</div>
